<!doctype html>

<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="public/style.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="js/appjquery.js"></script>
  </head>

  <body ng-controller="ToDoListController as toDoCtrl">
    <div class="central_divide">
      <div class="add_item">
        <form action="#">
          <input type="text" ng-model="taskContent" placeholder="Add a new task" id="to_do_text">
          <a href="#" ng-click="toDoCtrl.addTask(taskContent)" class="icon"><img src="public/images/plus.png" id="plus"></a>
        </form>
      </div>
      <div ng-repeat="task in toDoCtrl.taskList">
        <div ng-show="task.active" class="task_item" id="active">
          {{ task.taskContent }}
          <a href="#" ng-click="toDoCtrl.deleteActiveTask(task)" class="icon"><img src="public/images/bin.png" id="bin"></a>
          <a href="#" ng-click="toDoCtrl.completeTask(task)" class="icon"><img src="public/images/tick.png" id="tick"></a>
        </div>
      </div>
      <div ng-repeat="task in toDoCtrl.completedTaskList">
        <div ng-hide="task.active" class="task_item" id="completed">
          {{ task.taskContent }}
          <a href="#" ng-click="toDoCtrl.deleteCompletedTask(task)" class="icon"><img src="public/images/bin.png" id="bin"></a>
          <a href="#" ng-click="toDoCtrl.reactivateTask(task)" class="icon"><img src="public/images/reactivate.png" id="reactivate"></a>
        </div>
      </div>
      <div ng-show="toDoCtrl.anyCompleted()">
        <a href="#" ng-click="toDoCtrl.deleteAllCompletedTasks()" class="task_item" id="delete_all">Delete All Completed Tasks</a>
      </div>
    </div>
  </body>
</html>