<!doctype html>

<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as toDoCtrl">
    Active Tasks
    <div ng-repeat="task in toDoCtrl.taskList">
      <div ng-show="task.active">
        {{ task.taskContent }}
        <form action="#">
          <input ng-click="toDoCtrl.completeTask(task)" type="submit" value="Completed">
          <input ng-click="toDoCtrl.deleteTask(task)" type="submit" value="Delete">
        </form>
      </div>
    </div>
    Completed Tasks
    <div ng-repeat="task in toDoCtrl.taskList">
      <div ng-hide="task.active">
        {{ task.taskContent }}
        <form action="#">
          <input ng-click="toDoCtrl.deleteTask(task)" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </body>
</html>